Node-RED/flows/0_Starting_Flow.json
[{"id":"b96273eb.5276b","type":"link in","z":"6788f946.d1cb18","name":"","links":["603f01b9.ee73d"],"x":135,"y":80,"wires":[["9040be3a.39208","2cd8b8b0.3c3ca8"]]},{"id":"9040be3a.39208","type":"udp out","z":"6788f946.d1cb18","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"64000","base64":false,"multicast":"false","x":370,"y":80,"wires":[]},{"id":"2cd8b8b0.3c3ca8","type":"debug","z":"6788f946.d1cb18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":140,"wires":[]}]