Node-RED/flows/1_Take_Off_And_Land.json
[{"id":"97a9b88e.ad4728","type":"tab","label":"1_Take_Off_And_Land","disabled":false,"info":""},{"id":"89b61521.c68078","type":"udp out","z":"97a9b88e.ad4728","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"64000","base64":false,"multicast":"false","x":750,"y":300,"wires":[]},{"id":"e77754b.f910aa8","type":"debug","z":"97a9b88e.ad4728","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":360,"wires":[]},{"id":"93a93029.3c7e1","type":"link in","z":"97a9b88e.ad4728","name":"","links":["cde2c566.f1df18"],"x":355,"y":300,"wires":[["89b61521.c68078","e77754b.f910aa8"]]},{"id":"95d29010.8364e","type":"inject","z":"97a9b88e.ad4728","name":"Command","topic":"","payload":"command","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["cde2c566.f1df18"]]},{"id":"961df121.36861","type":"inject","z":"97a9b88e.ad4728","name":"Take Off","topic":"","payload":"takeoff","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["cde2c566.f1df18"]]},{"id":"e8a0ebd6.f67558","type":"inject","z":"97a9b88e.ad4728","name":"Land","topic":"","payload":"land","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["cde2c566.f1df18"]]},{"id":"cde2c566.f1df18","type":"link out","z":"97a9b88e.ad4728","name":"","links":["93a93029.3c7e1"],"x":435,"y":180,"wires":[]}]