Node-RED/flows/2_Automatic_Flight.json
[{"id":"c37dad7d.72084","type":"tab","label":"2_Automatic_Flight","disabled":false,"info":""},{"id":"84456199.24113","type":"inject","z":"c37dad7d.72084","name":"Command","topic":"","payload":"command","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":80,"wires":[["564236c.68e57c8","b91a9cd.da1f86"]]},{"id":"43dcf6aa.3b5e58","type":"udp out","z":"c37dad7d.72084","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"64000","base64":false,"multicast":"false","x":930,"y":80,"wires":[]},{"id":"f30fa942.7c37d8","type":"debug","z":"c37dad7d.72084","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":140,"wires":[]},{"id":"564236c.68e57c8","type":"link out","z":"c37dad7d.72084","name":"","links":["7054350d.0f33ec"],"x":595,"y":80,"wires":[]},{"id":"7054350d.0f33ec","type":"link in","z":"c37dad7d.72084","name":"","links":["564236c.68e57c8"],"x":695,"y":80,"wires":[["43dcf6aa.3b5e58","f30fa942.7c37d8"]]},{"id":"b91a9cd.da1f86","type":"delay","z":"c37dad7d.72084","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":160,"wires":[["1ed6fdc1.22a2e2"]]},{"id":"532eee05.f5b3d","type":"delay","z":"c37dad7d.72084","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":240,"wires":[["e930a661.4ccc68"]]},{"id":"1ed6fdc1.22a2e2","type":"change","z":"c37dad7d.72084","name":"Take Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["532eee05.f5b3d","564236c.68e57c8"]]},{"id":"e930a661.4ccc68","type":"change","z":"c37dad7d.72084","name":"Land","rules":[{"t":"set","p":"payload","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["564236c.68e57c8"]]}]