Node-RED/flows/3_Ascend_And_Descend.json
[{"id":"fef7204c.cb1fa","type":"tab","label":"2_Ascend_And_Descend","disabled":false,"info":""},{"id":"8825b83f.225618","type":"inject","z":"fef7204c.cb1fa","name":"Command","topic":"","payload":"command","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["8252cfe.e6fa53","b94c2689.b44dd8"]]},{"id":"8252cfe.e6fa53","type":"delay","z":"fef7204c.cb1fa","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":160,"wires":[["1cac733a.3ca37d"]]},{"id":"1cac733a.3ca37d","type":"change","z":"fef7204c.cb1fa","name":"Take Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["6bdbf813.aedbf8","95b0f04f.46a42"]]},{"id":"ce6b49f4.cfc9f8","type":"udp out","z":"fef7204c.cb1fa","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"64000","base64":false,"multicast":"false","x":1290,"y":80,"wires":[]},{"id":"26e02120.ecc07e","type":"debug","z":"fef7204c.cb1fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":140,"wires":[]},{"id":"db1ab467.483738","type":"link in","z":"fef7204c.cb1fa","name":"","links":["d5c5dbfa.ea5468","b94c2689.b44dd8","7bf71d09.1d7eb4","e18e04eb.cd1638","53508757.41e338","95b0f04f.46a42","b75465e6.93aff8"],"x":955,"y":80,"wires":[["ce6b49f4.cfc9f8","26e02120.ecc07e"]]},{"id":"b94c2689.b44dd8","type":"link out","z":"fef7204c.cb1fa","name":"","links":["db1ab467.483738"],"x":615,"y":60,"wires":[]},{"id":"6bdbf813.aedbf8","type":"delay","z":"fef7204c.cb1fa","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":260,"wires":[["a391ace2.68a4a"]]},{"id":"a391ace2.68a4a","type":"change","z":"fef7204c.cb1fa","name":"Up 50cm","rules":[{"t":"set","p":"payload","pt":"msg","to":"up 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["8dcd7a8b.80c768","53508757.41e338"]]},{"id":"8dcd7a8b.80c768","type":"delay","z":"fef7204c.cb1fa","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":360,"wires":[["19946670.77b9aa"]]},{"id":"19946670.77b9aa","type":"change","z":"fef7204c.cb1fa","name":"Down 50cm","rules":[{"t":"set","p":"payload","pt":"msg","to":"down 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":360,"wires":[["e18e04eb.cd1638","f6b9aa60.bcc2a8"]]},{"id":"e18e04eb.cd1638","type":"link out","z":"fef7204c.cb1fa","name":"","links":["db1ab467.483738"],"x":615,"y":360,"wires":[]},{"id":"53508757.41e338","type":"link out","z":"fef7204c.cb1fa","name":"","links":["db1ab467.483738"],"x":615,"y":260,"wires":[]},{"id":"95b0f04f.46a42","type":"link out","z":"fef7204c.cb1fa","name":"","links":["db1ab467.483738"],"x":615,"y":160,"wires":[]},{"id":"f6b9aa60.bcc2a8","type":"delay","z":"fef7204c.cb1fa","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":460,"wires":[["b2c86fa3.cf3ff"]]},{"id":"b2c86fa3.cf3ff","type":"change","z":"fef7204c.cb1fa","name":"Land","rules":[{"t":"set","p":"payload","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":460,"wires":[["b75465e6.93aff8"]]},{"id":"b75465e6.93aff8","type":"link out","z":"fef7204c.cb1fa","name":"","links":["db1ab467.483738"],"x":615,"y":460,"wires":[]},{"id":"15248f.60ba5b72","type":"udp in","z":"fef7204c.cb1fa","name":"","iface":"","port":"64000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":1000,"y":280,"wires":[["afb5477b.21d1e8"]]},{"id":"afb5477b.21d1e8","type":"debug","z":"fef7204c.cb1fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":280,"wires":[]}]