Node-RED/flows/3_Square_Dance.json
[{"id":"643d7269.8c827c","type":"tab","label":"3_Square_Dance","disabled":false,"info":"Make the drone fly a square, returning to it's starting place and facing in the same direction."},{"id":"199d76d2.a76699","type":"inject","z":"643d7269.8c827c","name":"Command","topic":"","payload":"command","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":80,"wires":[["4a4ff463.ab869c","a77769c1.eda168"]]},{"id":"4a4ff463.ab869c","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":180,"wires":[["e452ebc.20c6b18"]]},{"id":"e452ebc.20c6b18","type":"change","z":"643d7269.8c827c","name":"Take Off","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["68fa9a00.54d158","b1f4023.9fe04"]]},{"id":"783e4478.f13afc","type":"udp out","z":"643d7269.8c827c","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"64000","base64":false,"multicast":"false","x":870,"y":940,"wires":[]},{"id":"77ee9803.b3a528","type":"debug","z":"643d7269.8c827c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1000,"wires":[]},{"id":"30535e7f.d6b882","type":"link in","z":"643d7269.8c827c","name":"","links":["d5c5dbfa.ea5468","a77769c1.eda168","7bf71d09.1d7eb4","867b0acd.73ccf8","9c31382f.7ad838","b1f4023.9fe04","1c0b4738.9042f9","90a8f761.62fdd8","c9c9da54.333b68","18a184bc.141e4b","ed743da4.95f0e","3b248292.29306e","627a2fb0.38eff"],"x":475,"y":940,"wires":[["783e4478.f13afc","77ee9803.b3a528"]]},{"id":"a77769c1.eda168","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":80,"wires":[]},{"id":"68fa9a00.54d158","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":280,"wires":[["3061d600.a8225a"]]},{"id":"3061d600.a8225a","type":"change","z":"643d7269.8c827c","name":"Forward 50cm","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["edc7ad6a.cbd2a","9c31382f.7ad838"]]},{"id":"edc7ad6a.cbd2a","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":380,"wires":[["dc1f3a1.c209bc8"]]},{"id":"dc1f3a1.c209bc8","type":"change","z":"643d7269.8c827c","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["867b0acd.73ccf8","4fb73a5b.be7f34"]]},{"id":"867b0acd.73ccf8","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":380,"wires":[]},{"id":"9c31382f.7ad838","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":280,"wires":[]},{"id":"b1f4023.9fe04","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":180,"wires":[]},{"id":"4fb73a5b.be7f34","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":460,"wires":[["f4bd14da.97a138"]]},{"id":"f4bd14da.97a138","type":"change","z":"643d7269.8c827c","name":"Forward 50cm","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":460,"wires":[["504eebd7.38e2e4","c9c9da54.333b68"]]},{"id":"504eebd7.38e2e4","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":540,"wires":[["709fdfa9.6845b"]]},{"id":"709fdfa9.6845b","type":"change","z":"643d7269.8c827c","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":540,"wires":[["90a8f761.62fdd8","c457cf6d.af399"]]},{"id":"90a8f761.62fdd8","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":540,"wires":[]},{"id":"c9c9da54.333b68","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":460,"wires":[]},{"id":"c457cf6d.af399","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":620,"wires":[["4cc6be0d.43cb5"]]},{"id":"4cc6be0d.43cb5","type":"change","z":"643d7269.8c827c","name":"Forward 50cm","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":620,"wires":[["62a3edd5.030de4","ed743da4.95f0e"]]},{"id":"62a3edd5.030de4","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":700,"wires":[["27941414.bb0dac"]]},{"id":"27941414.bb0dac","type":"change","z":"643d7269.8c827c","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["18a184bc.141e4b","f0729fd.3ee9f6"]]},{"id":"18a184bc.141e4b","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":700,"wires":[]},{"id":"ed743da4.95f0e","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":620,"wires":[]},{"id":"f0729fd.3ee9f6","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":780,"wires":[["7c91b8c5.d42b98"]]},{"id":"7c91b8c5.d42b98","type":"change","z":"643d7269.8c827c","name":"Forward 50cm","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"forward 50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":780,"wires":[["3b248292.29306e","2d6b77bf.3d36d8"]]},{"id":"3b248292.29306e","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":780,"wires":[]},{"id":"2d6b77bf.3d36d8","type":"delay","z":"643d7269.8c827c","name":"","pauseType":"delay","timeout":"2.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":860,"wires":[["1ebb4bf6.366b54"]]},{"id":"1ebb4bf6.366b54","type":"change","z":"643d7269.8c827c","name":"Turn Clockwise 90 degrees","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"cw 90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[["627a2fb0.38eff"]]},{"id":"627a2fb0.38eff","type":"link out","z":"643d7269.8c827c","name":"","links":["30535e7f.d6b882"],"x":715,"y":860,"wires":[]}]