Node-RED/flows/4_Search_And_Rescue.json
[{"id":"9c59f15.0e8991","type":"subflow","name":"Wait for response","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ac7e99e6.7f0308"}]}],"out":[{"x":660,"y":180,"wires":[{"id":"23bfd216.f106de","port":0}]},{"x":660,"y":260,"wires":[{"id":"23bfd216.f106de","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"23bfd216.f106de","type":"switch","z":"9c59f15.0e8991","name":"Check Status","property":"cmdStatus","propertyType":"global","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"neq","v":"ok","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":260,"y":220,"wires":[[],[],["ac7e99e6.7f0308"]]},{"id":"ac7e99e6.7f0308","type":"delay","z":"9c59f15.0e8991","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":80,"wires":[["23bfd216.f106de"]]},{"id":"56b9885e.2d4928","type":"subflow:9c59f15.0e8991","z":"d3cb05c4.306d08","name":"","x":670,"y":640,"wires":[["3169a3c5.573f5c"],["1b46126c.93a3de"]]}]