Node-RED/flows/4_Search_And_Rescue.json
[{"id":"9c59f15.0e8991","type":"subflow","name":"Wait for response","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ac7e99e6.7f0308"}]}],"out":[{"x":660,"y":180,"wires":[{"id":"23bfd216.f106de","port":0}]},{"x":660,"y":260,"wires":[{"id":"23bfd216.f106de","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"23bfd216.f106de","type":"switch","z":"9c59f15.0e8991","name":"Check Status","property":"cmdStatus","propertyType":"global","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"neq","v":"ok","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":260,"y":220,"wires":[[],[],["ac7e99e6.7f0308"]]},{"id":"ac7e99e6.7f0308","type":"delay","z":"9c59f15.0e8991","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":80,"wires":[["23bfd216.f106de"]]},{"id":"d3cb05c4.306d08","type":"tab","label":"4_Search_And_Rescue","disabled":false,"info":""},{"id":"e981996.6837b68","type":"udp in","z":"d3cb05c4.306d08","name":"Command Response from Drone","iface":"","port":"64000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":1290,"y":460,"wires":[["b7dc2ceb.72e9e","259272d0.e6448e"]]},{"id":"b7dc2ceb.72e9e","type":"debug","z":"d3cb05c4.306d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1520,"y":460,"wires":[]},{"id":"9d2cb89a.1477d8","type":"udp out","z":"d3cb05c4.306d08","name":"Send to Drone","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"64000","base64":false,"multicast":"false","x":1440,"y":180,"wires":[]},{"id":"f6247853.b7ca28","type":"link in","z":"d3cb05c4.306d08","name":"","links":["b910b225.a09f8","64db686e.d5f6f8"],"x":1235,"y":240,"wires":[["9d2cb89a.1477d8","39f5b623.f56c9a"]]},{"id":"39f5b623.f56c9a","type":"debug","z":"d3cb05c4.306d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":240,"wires":[]},{"id":"259272d0.e6448e","type":"change","z":"d3cb05c4.306d08","name":"Set Status","rules":[{"t":"set","p":"cmdStatus","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":540,"wires":[[]]},{"id":"c8d6cdd1.b341c","type":"udp in","z":"d3cb05c4.306d08","name":"Drone State","iface":"","port":"8890","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":1230,"y":660,"wires":[["7657b1ae.707fd","aac412c1.f088b","5223ae2a.ee34d"]]},{"id":"7657b1ae.707fd","type":"debug","z":"d3cb05c4.306d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1500,"y":660,"wires":[]},{"id":"bad583ea.0f12c","type":"comment","z":"d3cb05c4.306d08","name":"Store any Mission Pad detected","info":"","x":1290,"y":620,"wires":[]},{"id":"aac412c1.f088b","type":"change","z":"d3cb05c4.306d08","name":"","rules":[{"t":"set","p":"droneStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":740,"wires":[[]]},{"id":"25d7570f.99a598","type":"comment","z":"d3cb05c4.306d08","name":"Tell the drone to enter SDK Mode","info":"","x":190,"y":100,"wires":[]},{"id":"660dbad1.318c24","type":"comment","z":"d3cb05c4.306d08","name":"Emergency Stop on Error","info":"","x":870,"y":100,"wires":[]},{"id":"f33c1fd6.30ef6","type":"comment","z":"d3cb05c4.306d08","name":"Send Command to Drone","info":"","x":1470,"y":140,"wires":[]},{"id":"6f0a7b86.4ed8b4","type":"comment","z":"d3cb05c4.306d08","name":"Enable Mission Pad Detection","info":"","x":180,"y":220,"wires":[]},{"id":"1610d2da.9d743d","type":"comment","z":"d3cb05c4.306d08","name":"Take Off","info":"","x":120,"y":320,"wires":[]},{"id":"86fb3f73.a99fa","type":"comment","z":"d3cb05c4.306d08","name":"Land","info":"","x":90,"y":960,"wires":[]},{"id":"51f91117.ee365","type":"comment","z":"d3cb05c4.306d08","name":"This is your mission. Add extra commands to enable the drone to find Mission Pad 8 and land one it","info":"","x":400,"y":520,"wires":[]},{"id":"344ff9b1.f78f86","type":"comment","z":"d3cb05c4.306d08","name":"****************************************","info":"","x":190,"y":480,"wires":[]},{"id":"7aed862d.7b3708","type":"comment","z":"d3cb05c4.306d08","name":"****************************************","info":"","x":190,"y":560,"wires":[]},{"id":"5223ae2a.ee34d","type":"change","z":"d3cb05c4.306d08","name":"","rules":[{"t":"set","p":"currentMissionPad","pt":"flow","to":"$substring(payload, 4, 1)\t\t\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":800,"wires":[["f6971726.3222a8"]]},{"id":"f6971726.3222a8","type":"debug","z":"d3cb05c4.306d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$flowContext(\"currentMissionPad\")","targetType":"jsonata","x":1540,"y":860,"wires":[]},{"id":"a1c27f9d.3f395","type":"comment","z":"d3cb05c4.306d08","name":"Response from the Drone command","info":"","x":1300,"y":420,"wires":[]},{"id":"1b46126c.93a3de","type":"change","z":"d3cb05c4.306d08","name":"Emergency","rules":[{"t":"delete","p":"status","pt":"flow"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"emergency","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[["b910b225.a09f8"]]},{"id":"c4621b33.024998","type":"change","z":"d3cb05c4.306d08","name":"Land","rules":[{"t":"delete","p":"cmdStatus","pt":"global"},{"t":"set","p":"payload","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":1000,"wires":[["3415c0db.9d67a","b910b225.a09f8"]]},{"id":"3169a3c5.573f5c","type":"switch","z":"d3cb05c4.306d08","name":"Mission Pad 8 Detected","property":"$flowContext(\"currentMissionPad\")","propertyType":"jsonata","rules":[{"t":"eq","v":"8","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":620,"wires":[["c4621b33.024998"],["3f4b888b.8aca28"]]},{"id":"b910b225.a09f8","type":"link out","z":"d3cb05c4.306d08","name":"","links":["f6247853.b7ca28"],"x":1055,"y":500,"wires":[]},{"id":"eb9252f3.fde9c","type":"subflow:9c59f15.0e8991","z":"d3cb05c4.306d08","name":"","env":[],"x":350,"y":140,"wires":[["67221d6d.b83ad4"],["1b46126c.93a3de"]]},{"id":"3019b8f5.3fe888","type":"subflow:9c59f15.0e8991","z":"d3cb05c4.306d08","name":"","env":[],"x":330,"y":360,"wires":[["3169a3c5.573f5c"],["1b46126c.93a3de"]]},{"id":"3415c0db.9d67a","type":"subflow:9c59f15.0e8991","z":"d3cb05c4.306d08","name":"","x":310,"y":1000,"wires":[[],["1b46126c.93a3de"]]},{"id":"9119f062.ef4db","type":"subflow:9c59f15.0e8991","z":"d3cb05c4.306d08","name":"","x":450,"y":260,"wires":[["26c5727b.914dee"],["1b46126c.93a3de"]]},{"id":"56b9885e.2d4928","type":"subflow:9c59f15.0e8991","z":"d3cb05c4.306d08","name":"","x":650,"y":680,"wires":[["3169a3c5.573f5c"],["1b46126c.93a3de"]]},{"id":"3f4b888b.8aca28","type":"delay","z":"d3cb05c4.306d08","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":680,"wires":[["de90fd1f.8ab52"]]},{"id":"bac20bf5.f1efa8","type":"inject","z":"d3cb05c4.306d08","name":"","topic":"","payload":"command","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["b910b225.a09f8","eb9252f3.fde9c"]]},{"id":"26c5727b.914dee","type":"change","z":"d3cb05c4.306d08","name":"takeoff","rules":[{"t":"delete","p":"cmdStatus","pt":"global"},{"t":"set","p":"payload","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":360,"wires":[["b910b225.a09f8","3019b8f5.3fe888"]]},{"id":"67221d6d.b83ad4","type":"change","z":"d3cb05c4.306d08","name":"Enable Mission Pad Detection","rules":[{"t":"delete","p":"cmdStatus","pt":"global"},{"t":"set","p":"payload","pt":"msg","to":"mon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":260,"wires":[["b910b225.a09f8","9119f062.ef4db"]]},{"id":"de90fd1f.8ab52","type":"change","z":"d3cb05c4.306d08","name":"Forward 20","rules":[{"t":"delete","p":"cmdStatus","pt":"global"},{"t":"set","p":"payload","pt":"msg","to":"forward 20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["56b9885e.2d4928","b910b225.a09f8"]]}]